/* general (desktop First)*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* settings body */

body {
    font-family: "Edu TAS Beginner", cursive;
    background-image: url("../img/cork.png");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    text-align: center;
    background-image: url("../img/wall.png");
    padding: 20px;
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}


.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    min-width: 200px;
    flex-basis: calc(30% - 20px);
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    background-color: white;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 3px 8px 5px rgba(0, 0, 0, 0.5);
    margin: 40px 10px;
}

.row:hover {
    transform: rotate(10deg);
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.row:hover #pin {
    display: none;
}

#pin {
    position: absolute;
    top: -20px;
    left: 45%;
}

.col img {
    width: 100%;

}

#overlay.d-none {
    display: none;
}

#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/* media queries */

@media screen and (max-width: 900px) {
    .row {
        flex-basis: calc(50% - 20px);
        max-width: 400px;

    }
}

@media screen and (max-width: 576px) {
    @media screen and (max-width: 576px) {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .row {
        max-width: 400px;
    }
}