/* general (desktop First)*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* settings body */

body {
    font-family: "Edu TAS Beginner", cursive;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 6em;
    text-align: center;
    background-image: url("../img/wall.png");
    padding: 20px;
    text-transform: uppercase;
}

main {
    background-image: url("../img/cork.png");
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex-basis: calc(30% - 20px);
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 10px;
}




/* media queries */


@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .row {
        flex-basis: calc(50% - 20px);

    }
}